[Unit]
Description=Sirepo %I service
After=docker.service

[Service]
User=vagrant
Group=vagrant
SyslogIdentifier=sirepo-%i
TimeoutStartSec=0
# Restart=always
WorkingDirectory=/home/vagrant/src/sirepo
ExecStart=/bin/bash /home/vagrant/src/sirepo-dev-config/scripts/sirepo.sh %i

[Install]
WantedBy=multi-user.target
